@model IEnumerable<AlManalChickens.Domain.ViewModel.ContactUs.ContactUsViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-box">
    <h2 class="header-title m-t-0 m-b-30">الشكاوى و المقترحات</h2>
    <div>
        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>
                        رقم الشكوي
                    </th>
                    <th>
                        الاسم
                    </th>
                    <th>
                        الايميل
                    </th>
                    <th>
                        الشكوى
                    </th>
                    <th>
                        التاريخ
                    </th>
                    <th>
                        حذف
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Msg)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            <input type="button" value="حذف" onclick="Delete('@item.Id')" class="btn btn-purple btn-rounded" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <!-- -------------------------------------------------------------------------------------------------- -->
    </div><!-- end row -->
</div>


@section scripts{
    <script>


        function Delete(id) {
            Swal.fire({
                title: 'هل انت متاكد من حذف هذا العنصر  ؟',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                cancelButtonText: 'اغلاق',
                confirmButtonText: 'حذف',
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: "/ContactUs/Delete",
                        type: "POST",
                        dataType: "json",
                        data: {
                            id: id
                        }, success: function (result) {
                            if (result.data == true) {
                                toastr.success("تم الحذف بنجاح");
                                setTimeout(function () {
                                }, 3000);

                            }
                            window.location.reload();

                        },
                        failure: function (info) {

                        }
                    })
                }
            })
        }

    </script>
}

