@model IEnumerable<AlManalChickens.Domain.ViewModel.Question.QuestionViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-box">
    <h2 class="header-title m-t-0 m-b-30">الأسئلة الشائعه</h2>
    <div>

        <p>
            @Html.ActionLink("اضافة سؤال", "Create", "Questions", null, new { @class = "btn btn-primary btn-rounded w-md waves-effect waves-light m-b-5" })
        </p>
        <!-- -------------------------------------------------------------------------------------------------- -->
        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>
                        السؤال بالعربية
                    </th>
                    <th>
                        الاجابة بالعربية
                    </th>
                    <th>
                        السؤال بالانجليزية
                    </th>
                    <th>
                        الاجابة بالانجليزية
                    </th>
                    <th> الحالة </th>
                    <th>تغيير الحالة </th>
                    <th>تعديل </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.QuestionAr)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AnswerAr)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QuestionEn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AnswerEn)
                        </td>
                        <td>
                            @{
                                if (item.IsActive == true)
                                {
                                    <label id="@item.Id" style="color:green;font-size: 17px;">مفعل</label>
                                }
                                else
                                {
                                    <label id="@item.Id" style="color:red;font-size: 17px;">غير مفعل</label>
                                }
                            }
                        </td>
                        <td>
                            <input type="button" value="تغيير الحالة" onclick="Validation('@item.Id')" class="btn btn-purple btn-rounded" />
                        </td>
                        <td>
                            @Html.ActionLink("تعديل", "Edit", new { id = item.Id }, new { @class = "btn btn-info btn-rounded" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <!-- -------------------------------------------------------------------------------------------------- -->
    </div><!-- end row -->
</div>

@section scripts{
    <script>

        function Validation(id) {
            $.ajax({
                url: "/Questions/ChangeState",
                type: "POST",
                dataType: "json",
                data: {
                    id: id
                },
                success: function (result) {
                    if (result.data == true) {
                        $('#' + id).css('color', 'green');
                        $('#' + id).html('مفعل');
                    } else if (result.data == false) {
                        $('#' + id).css('color', 'red');
                        $('#' + id).html('غير مفعل');
                    }
                },
                failure: function (info) {
                }
            });
        }
    </script>
}

