@model IEnumerable< AlManalChickens.Domain.ViewModel.PartnersSuccess.ListPartnersSuccessViewModel>
<div class="card-box">

    <h2 class="header-title m-t-0 m-b-30">شركاء النجاح</h2>

    <div>
        <p>
            <a asp-action="Create" asp-controller="PartnersSuccess" class="btn btn-primary btn-rounded w-md waves-effect waves-light m-b-5">اضافة شريك نجاح</a>
        </p>

        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>الاسم </th>
                    <th>الصوره</th>
                    <th> الحالة </th>
                    <th>تغيير الحالة </th>
                    <th>تعديل </th>
                    <th>حذف</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <img src="@item.Image" style="width:100px; height:100px; " />
                        </td>
                        <td>
                            @{
                                if (item.IsActive == true)
                                {
                                    <label id="@item.Id" style="color:green;font-size: 17px;">مفعل</label>
                                }
                                else
                                {
                                    <label id="@item.Id" style="color:red;font-size: 17px;">غير مفعل</label>
                                }
                            }
                        </td>
                        <td>
                            <input type="button" value="تغيير الحالة" onclick="Validation('@item.Id')" class="btn btn-purple btn-rounded" />
                        </td>

                        <td>
                            <a asp-action="Update" asp-controller="PartnersSuccess" asp-route-Id="@item.Id" class="btn btn-info btn-rounded">تعديل</a>
                        </td>
                        <td>
                            <a class="btn btn-danger btn-rounded" onclick="DeletePartner('@item.Id')">حذف</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <!-- -------------------------------------------------------------------------------------------------- -->
    </div><!-- end row -->
</div>


@section scripts {
    <script>

        function Validation(id) {
            $.ajax({
                url: "/PartnersSuccess/ChangeStatus",
                type: "POST",
                dataType: "json",
                data: {
                    id: id
                },
                success: function (result) {

                    if (result.data == true) {
                        $('#' + id).css('color', 'green');
                        $('#' + id).html('مفعل');
                    } else if (result.data == false) {
                        $('#' + id).css('color', 'red');
                        $('#' + id).html('غير مفعل');
                    }
                },
                failure: function (info) {

                }
            });
        }
        function DeletePartner(id){
            $.ajax({
                url: "/PartnersSuccess/DeletePartner",
                type: "POST",
                dataType: "json",
                data: {
                    id: id
                },
                success: function (result) {
                    location.reload();
                },
                failure: function (info) {

                }
            });
        }
    </script>
}